# Lab 1: Creación de dimensiones

## Librerías

In [18]:
import pandas as pd 
import numpy as np 
import sqlalchemy
from sqlalchemy import create_engine
import pyodbc
import sqlite3

## Extracción y transformación

In [45]:

def ETL():
    
        
    engine = create_engine('sqlite:///chinook.db') #creación de la conexión con la bdd chinook
    engine
    
    #*************************EXTRACCIÓN***************************************************
    
    frameAlbums = pd.read_sql_query("""SELECT  Title from albums; """, 
    con=engine.connect())
    
    frameArtist = pd.read_sql_query("""SELECT Name from artists; """, 
    con=engine.connect())
    
    
    
    frameCustomers = pd.read_sql_query("""SELECT FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email from customers; """, 
    con=engine.connect())
    
    
    frameInvoice_Items = pd.read_sql_query("""SELECT UnitPrice, Quantity from invoice_items; """, 
    con=engine.connect())
   
    
    
    frameGenres = pd.read_sql_query("""SELECT Name from genres; """, 
    con=engine.connect())
    
    
    
    frameInvoices = pd.read_sql_query("""SELECT InvoiceDate, BillingAddress,BillingCity, BillingState, BillingCountry, BillingPostalCode, Total from invoices; """, 
    con=engine.connect())
    
    
    framePlaylists= pd.read_sql_query("""SELECT Name from playlists; """, 
    con=engine.connect())
    
    
    frameEmployees= pd.read_sql_query("""SELECT LastName, FirstName, Title, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email from employees; """, 
    con=engine.connect())
   
    
    #**********************TRANSFORMACIÓN****************************************************
    
    frameAlbums.fillna("N/A", inplace = True)
    frameArtist.fillna("N/A", inplace = True)
    frameCustomers.fillna("N/A", inplace = True)
    frameInvoice_Items.fillna("N/A", inplace = True)
    frameGenres.fillna("N/A", inplace = True)
    frameInvoices.fillna("N/A", inplace = True)
    framePlaylists.fillna("N/A", inplace = True)
    frameEmployees.fillna("N/A", inplace = True)
        
     #**********************CARGA****************************************************
   
    conec = sqlalchemy.create_engine('mssql+pyodbc://JOELMOLINA/DW_Sales_Music?driver=SQL+Server+Native+Client+11.0')
    try:
        
        frameArtist.to_sql(name='dim_artist', con=conec, if_exists='append',index=False)
        frameCustomers.to_sql(name='dim_customer', con=conec, if_exists='append',index=False)
        frameInvoice_Items.to_sql(name='dim_invoice_item', con=conec, if_exists='append',index=False)
        frameGenres.to_sql(name='dim_genre', con=conec, if_exists='append',index=False)
        frameInvoices.to_sql(name='dim_location', con=conec, if_exists='append',index=False)
        framePlaylists.to_sql(name='dim_playlist', con=conec, if_exists='append',index=False)
        frameEmployees.to_sql(name='dim_employee', con=conec, if_exists='append',index=False)
    
        print("CARGA EXITOSA")
    
    except Exception as ex:
        print("Ocurrió un error: {}".format(ex))

## Main

In [47]:
if __name__ == '__main__':
        ETL()